-- Add fields for Trip Journeys to video_testimonials
ALTER TABLE public.video_testimonials 
ADD COLUMN IF NOT EXISTS route TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS distance TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS vehicle TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS customer TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS initials TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS rating INTEGER DEFAULT 5, 
ADD COLUMN IF NOT EXISTS quote TEXT DEFAULT '', 
ADD COLUMN IF NOT EXISTS is_featured BOOLEAN DEFAULT false;
